#section-tarifs  .title-tarifs{
  color: #290e0a;
  margin-top: 1rem;
  font-size: 36px;
  font-family: 'Cinzel', serif;
  font-weight: 100;
  text-align: center;
  color: #290e0a;
}

@media (min-width: 768px) {
    header.masthead-tarif {
        padding-top: 10rem;
        padding-bottom: 2rem;
    }
    header.masthead-tarif .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead-tarif .masthead-heading {
        font-size: 6rem;
        font-weight: 700;
        line-height: 4.5rem;
        /* margin-bottom: 10rem; */
    }
}


.logo-tarif {
    margin-bottom: 2rem;
}

.circle-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.table-invisible {
    border-collapse: collapse;
    width: 100%;
}

.table-invisible td, .table-invisible th {
    border: none;
    padding: 0.5rem 0;
}

.table-invisible td {
  color: #290e0a !important;
  font-family: 'tangerine', serif;
  font-size: 3rem;
  text-align: center;
}


.section {
    margin-bottom: 7rem; /* Ajoute de l'espace entre les sections */
}

/* .card-tarif {
    background-color: rgba(255, 255, 255, 0.1); Couleur de fond semi-transparente
    border-radius: 15px; Facultatif : arrondir les angles pour un meilleur effet visuel
    padding: 20px; Facultatif : ajouter du padding pour un meilleur espacement intérieur
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Facultatif : ajouter une ombre pour un effet visuel
} */
