header.masthead-tarif {
    padding-top: 10.5rem;
    padding-bottom: 2rem;
    text-align: center;
    background-image: url("../assets/img/tarif-image-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead-tarif .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Tangerine", cursive;
}

header.masthead-tarif .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Tangerine", cursive;
    color: #f1b6b4; /* couleur du titre page index */
}

@media (min-width: 768px) {
    header.masthead-tarif {
        padding-top: 10rem;
        padding-bottom: 2rem;
    }
    header.masthead-tarif .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead-tarif .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        /* margin-bottom: 10rem; */
    }
}

#section-tarifs{
    background-color: black !important;
}

.logo-tarif {
    margin-bottom: 2rem;
}

.circle-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.table-invisible {
    border-collapse: collapse;
    width: 100%;
}

.table-invisible td, .table-invisible th {
    border: none;
    padding: 0.5rem 0;
}

.table-invisible td {
    font-family: "Tangerine", cursive;
    font-size: 2.5rem;
    color: #f1b6b4; /* couleur des cellules */
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 4rem; /* taille du titre */
    color: #f1b6b4; /* couleur du titre */
}

.section {
    margin-bottom: 7rem; /* Ajoute de l'espace entre les sections */
}

/* .card-tarif {
    background-color: rgba(255, 255, 255, 0.1); Couleur de fond semi-transparente
    border-radius: 15px; Facultatif : arrondir les angles pour un meilleur effet visuel
    padding: 20px; Facultatif : ajouter du padding pour un meilleur espacement intérieur
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Facultatif : ajouter une ombre pour un effet visuel
} */
